:root {
    --text-color: #d8d7c3;
    --forecast-color: #166678;
    --background-color: #0e2e3b;
    --forth-color: #7db9b3;
}

.container-sm {
    background-color: var(--background-color);
}

.forecast {
    background-color: var(--forecast-color);
}

.icon-location {
    /* height: 70px; */
    border-bottom: 1px solid var(--text-color);
}

.description {
    min-height: 70px;
    border-bottom: 1px solid var(--text-color);
}

.temperature {
    min-height: 80px;
}

.btn {
    background-color: var(--text-color);
}

.btn:hover {
    background-color: var(--forth-color);
}

.text-color {
    color: var(--text-color);
}

.image-size {
    height: 80px;
    width: 80px;
}

ul {
    list-style: none;
    padding-left: 5px;
}

ul > li {
    margin-top: 5px;
    border-bottom: 1px solid var(--text-color);
}

ul > li:last-child {
    border-bottom: none;
}


li > span {
    margin-left: 10px;
}

@media (min-width: 720px) {
    .container-sm{
        max-width: 600px;
    }
}

.hidden {
    display: none;
}